# Include ONLY my dotfiles
/*
!/.*

# Don't want everyone seeing my private keys, now do I?
.ssh

# I don't need to back up history files
*history
*hist
*hst

# or info files
*shell
*info

# Compiled python files for vim plugin
editorconfig/*.pyc

# or any of this stuff
*.espressostorage
/.MacOSX/
/.Trash/
/.cups/
/.dropbox/
/.gnupg
/.kbd
/.pearrc
/.rnd
/.shsh/
