[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule ".vim/bundle/salt-vim"]
	path = .vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/bundle/csscomplete.vim"]
	path = .vim/bundle/csscomplete.vim
	url = https://github.com/othree/csscomplete.vim
[submodule ".vim/bundle/python.vim"]
	path = .vim/bundle/python.vim
	url = https://github.com/vim-scripts/python.vim
[submodule ".vim/bundle/LargeFile"]
	path = .vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule ".vim/bundle/loremipsum"]
	path = .vim/bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/shuffle.vim"]
	path = .vim/bundle/shuffle.vim
	url = https://github.com/vim-scripts/shuffle.vim.git
[submodule ".vim/bundle/dracula-theme"]
	path = .vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule ".vim/bundle/vim-ctrlp-autoignore"]
	path = .vim/bundle/vim-ctrlp-autoignore
	url = git@github.com:ludovicchabant/vim-ctrlp-autoignore.git
[submodule ".gittemplate"]
	path = .gittemplate
	url = https://github.com/CruxConnect/git_template.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "/Users/jason/.vim/bundle/vim-repeat"]
	path = /Users/jason/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".oh-my-zsh-custom/plugins/notify"]
	path = .oh-my-zsh-custom/plugins/notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule "/Users/jason/.vim/bundle/vim-import-js"]
	path = /Users/jason/.vim/bundle/vim-import-js
	url = git@github.com:Galooshi/vim-import-js.git
[submodule ".vim/bundle/vim-sort-imports"]
	path = .vim/bundle/vim-sort-imports
	url = git@github.com:ruanyl/vim-sort-imports.git
