# Include ONLY my dotfiles
/*
!/.*

# Don't want everyone seeing my private keys, now do I?
.ssh

# I don't need to back up history files
*history
*hist
*hst
.bash_sessions
.scdalias.zsh

# or info files
*shell
*info

# or cache files
*.pyc
.git-lint/
/.cache/
.babel.json

# or any of this stuff
karabiner
*.espressostorage
*private*
/.CFUserTextEncoding
/.DS_Store
/.MacOSX/
/.Trash/
/.autoenv_authorized*
/.aws/
/.bundle/
/.composer/
/.config/
/.cups/
/.docker/
/.dropbox/
/.fpp/
/.gem/
/.gnupg*
/.httpie/
/.ipython/
/.kbd
/.mycli.log
/.node-*
/.npm*
/.pearrc
/.pylint.d/
/.rnd
/.shsh/
/.subversion
/.virtualenvs/
/.yarnrc
/.zcompdump*
/.zsh-update
