# Include ONLY my dotfiles
/*
!/.*

# Don't want everyone seeing my private keys, now do I?
.ssh

# I don't need to back up history files
*history
*hist
*hst

# or info files
*shell
*info

# Only unison prf files
/.unison/*
!/.unison/*.prf

# Compiled python files for vim plugin
editorconfig/*.pyc
# previous line not working on work box
.vim/*/*/*/*.pyc

# or any of this stuff
*.espressostorage
/.CFUserTextEncoding
/.DS_Store
/.MacOSX/
/.Trash/
/.cache/
/.cups/
/.dropbox/
/.gnupg
/.kbd
/.npm
/.pearrc
/.rnd
/.shsh/
/.subversion
