# TODO: consolidate and use pyproject.toml
[FORMAT]
max-line-length=80

[BASIC]
good-names=logger,i,e,ns,id,db,tz
load-plugins=pylint_pytest

[MESSAGES CONTROL]
disable =
    # TODO: renable docstrings
    missing-docstring,
    missing-module-docstring,
    # missing-class-docstring,
    # missing-function-docstring,

    # Because black
    bad-continuation,
    too-few-public-methods,
    broad-except,
    # The next 2 are disabled so we can use dotenv without complaint
    wrong-import-position,
    wrong-import-order,
    # These are disabled because annoying
    c-extension-no-member,
    no-self-use,
    line-too-long,
    fixme,

[TYPECHECK]
ignored-classes=responses,Generator
