extends: default

# Overwrite levels. Warnings are always errors.
rules:
  braces:
    forbid: non-empty
  brackets:
    forbid: non-empty
  colons: enable
  commas: enable
  comments:
    level: error
  comments-indentation:
    level: error
  document-end:
    present: false
  document-start: disable
  empty-lines: enable
  empty-values: enable
  hyphens: enable
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: true
  key-duplicates: enable
  key-ordering: disable
  line-length:
    allow-non-breakable-inline-mappings: true
    max: 88
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: enable
  quoted-strings:
    quote-type: single
    required: false
  trailing-spaces: enable
  truthy:
    level: error
